<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cloud Scale</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e5eea7">  <td>22/04/29 14:25:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchItem(java.lang.String)[pri:1, instance:test.HomePageTest@957e06]">searchItem</td> 
  <td>main@1409160703</td>   <td></td> </tr>
<tr bgcolor="e5eea7">  <td>22/04/29 14:25:29</td>   <td>2538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.addToCart()[pri:0, instance:test.HomePageTest@957e06]">addToCart</td> 
  <td>main@1409160703</td>   <td></td> </tr>
<tr bgcolor="e5eea7">  <td>22/04/29 14:25:46</td>   <td>19939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.quantityTo10()[pri:0, instance:test.HomePageTest@957e06]">quantityTo10</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="e5eea7">  <td>22/04/29 14:25:46</td>   <td>19945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.deleteCart()[pri:0, instance:test.HomePageTest@957e06]">deleteCart</td> 
  <td></td>   <td></td> </tr>
<tr bgcolor="e5eea7">  <td>22/04/29 14:25:22</td>   <td>-4139</td> <td title="&gt;&gt;HomePageTest.initialize()[pri:0, instance:test.HomePageTest@957e06]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1409160703</td>   <td></td> </tr>
<tr bgcolor="e5eea7">  <td>22/04/29 14:25:46</td>   <td>19984</td> <td title="&lt;&lt;HomePageTest.close()[pri:0, instance:test.HomePageTest@957e06]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1409160703</td>   <td></td> </tr>
</table>
