<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="856572">  <td>22/05/11 15:44:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.deleteCart()[pri:0, instance:test.HomePageTest@59505b48]">deleteCart</td> 
  <td>main@1715248762</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/11 15:43:34</td>   <td>-40304</td> <td title="&gt;&gt;HomePageTest.initialize()[pri:0, instance:test.HomePageTest@59505b48]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715248762</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/11 15:44:15</td>   <td>425</td> <td title="&lt;&lt;HomePageTest.close()[pri:0, instance:test.HomePageTest@59505b48]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1715248762</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/11 15:44:02</td>   <td>-12547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.quantityTo10()[pri:0, instance:test.HomePageTest@59505b48]">quantityTo10</td> 
  <td>main@1715248762</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/11 15:43:42</td>   <td>-32297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.addToCart()[pri:0, instance:test.HomePageTest@59505b48]">addToCart</td> 
  <td>main@1715248762</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/11 15:43:41</td>   <td>-33985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.searchItem(java.lang.String)[pri:1, instance:test.HomePageTest@59505b48]">searchItem</td> 
  <td>main@1715248762</td>   <td></td> </tr>
</table>
